*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background-color: #DAE0E6;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}


.navbar{
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
    float: left;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
}

.navbar a:hover{
    background-color: #DAE0E6;
    color:rgb(10, 50, 50);
}

.navbar a.active{
    background-color: black;
    color:white;
}

.navbar .icon{
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 500px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



.main-content{
    margin-top: 50px;
}



.contact-header{
    text-align: center;
    margin-top: 50px;
}

.mail-form{
    text-align: center;
}

/* ID Selectors */

#gameBtn2{
    color: white;
    background-color: rgb(0, 38, 155);
}

/* css resposive design */
[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}